<div class="d-flex mt-5 justify-content-center">
  <div class="d-flex flex-column card-width shadow bg-primary-light">
    <div class="d-flex">
      <div class="d-flex mr-auto ml-2">
        <span class="card-header-text text-white font-weight-bold"
          >EDUCATION</span
        >
      </div>
    </div>

    <div class="container py-2 text-primary">
      <div *ngFor="let education of educationTimeline; let index = index">
        <div *ngIf="!isEven(index + 1)" class="row no-gutters">
          <div class="col-md" *ngIf="showBadge()"></div>
          <div
            class="col-md-1 text-center flex-column d-md-flex"
            *ngIf="showBadge()"
          >
            <div class="row h-50">
              <div class="col" [ngClass]="{ 'border-right': index > 0 }">
                &nbsp;
              </div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2" *ngIf="showBadge()">
              <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50" *ngIf="showLine(index)">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col-md py-2">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ education.graduationYear }}</h4>
                <p class="card-text card-body-text">
                  {{ education.course }}<br />
                  {{ education.institution }}<br />
                  <b>{{ education.result }}</b
                  ><br />
                  {{ education.city }}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="isEven(index + 1)" class="row no-gutters">
          <div class="col-md py-2">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">{{ education.graduationYear }}</h4>
                <p class="card-text card-body-text">
                  {{ education.course }} <br />
                  {{ education.institution }} <br />
                  <b>{{ education.result }}</b
                  ><br />
                  {{ education.city }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-1 text-center flex-column d-none d-md-flex">
            <div class="row h-50">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
              <span class="badge badge-pill bg-light">&nbsp;</span>
            </h5>
            <div class="row h-50" *ngIf="showLine(index)">
              <div class="col border-right">&nbsp;</div>
              <div class="col">&nbsp;</div>
            </div>
          </div>
          <div class="col-md"></div>
        </div>
      </div>
    </div>
  </div>
</div>
