.margin-top-20 {
  margin-top: 20px;
}

.html-tag {
  color: rgb(18, 228, 228);
  font-weight: bold;
  font-size: 3.5em;
}

.text {
  font-weight: bold;
  font-size: 3.5em;
}

@media (min-width: 0px) {
  .html-tag,
  .text {
    font-size: 1.5rem;
  }
}
@media (min-width: 770px) {
  .html-tag,
  .text {
    font-size: 2.5rem;
  }
}
@media (min-width: 990px) {
  .html-tag,
  .text {
    font-size: 3.2rem;
  }
}
@media (min-width: 1200px) {
  .html-tag,
  .text {
    font-size: 3.2rem;
  }
}

.padding-left-20 {
  padding-left: 20%;
}

@media (min-width: 0px) {
  .padding-left-20 {
    padding-left: 13%;
  }
}

.dot {
  border-radius: 50%;
  display: inline-block;
}

@media (min-width: 0px) {
  .dot {
    height: 28px;
    width: 28px;
  }
}

@media (min-width: 500px) {
  .dot {
    height: 32px;
    width: 32px;
  }
}

.card-header-text {
  font-size: 2em;
  font-weight: bold;
}

@media (min-width: 0px) {
  .card-header-text {
    font-size: 1.8em;
  }
}

@media (min-width: 500px) {
  .card-header-text {
    font-size: 2em;
  }
}

.bullet-points {
  font-weight: bold;
}
