<div class="d-flex justify-content-center mt-3 h-100">
  <div class="w-100">
    <div class="d-flex flex-column padding-left-20 bg-primary flex-wrap">
      <span class="html-tag" style="margin-top: 85px !important"
        >&lt;html&gt;</span
      >
      <span class="text text-secondary ml-4"> Hi! I'm Karan.</span>
      <span class="text text-secondary ml-4"> I'm a Full Stack Developer.</span>
      <span class="html-tag" style="margin-bottom: 85px !important"
        >&lt;/html&gt;</span
      >
    </div>
  </div>
</div>
