<div class="d-flex flex-grow-1 justify-content-center">
  <div
    class="d-flex flex-column shadow form-width mt-2 mb-2 pl-2 pr-2 pb-1 bg-white"
    [ngClass]="{ 'pb-4': !collapsed }"
  >
    <div class="d-flex text-primary mt-2" [ngClass]="{ 'mb-5': !collapsed }">
      <span class="card-header-text text-secondary font-weight-bold ml-4"
        >WORK INFO</span
      >
      <a
        (click)="collapsed = !collapsed"
        *ngIf="editMode"
        class="ml-auto expand-icon"
      >
        <fa-icon
          [icon]="faChevronDown"
          class="text-secondary ml-2"
          size="lg"
        ></fa-icon
      ></a>
    </div>

    <div class="pl-4 pr-4" [ngClass]="{ collapse: collapsed }">
      <div class="d-flex flex-md-row flex-column mt-3">
        <div class="flex-fill form-group">
          <label class="text-primary">Technology stack</label>
          <ul class="list-group">
            <li
              class="list-group-item text-primary-light"
              *ngIf="workInfo.technologyStack.length"
            >
              <div class="d-flex flex-wrap">
                <span
                  class="p-1 pl-2 pr-2 ml-2 mb-1 mt-1 selected-tech"
                  *ngFor="let technology of workInfo.technologyStack"
                >
                  {{ technology.name }}
                  <fa-icon
                    [icon]="technology.icon"
                    class="text-secondary ml-2"
                    size="lg"
                  ></fa-icon>
                </span>
              </div>
            </li>

            <li class="list-group-item text-primary-light">
              <a (click)="openIconsPopup()" class="text-primary">
                <fa-icon
                  [icon]="
                    !workInfo.technologyStack.length
                      ? faPlusSquare
                      : faPencilAlt
                  "
                  size="lg"
                ></fa-icon>
                <span class="ml-2">{{
                  workInfo.technologyStack.length
                    ? "Edit technology stack"
                    : "Add technology"
                }}</span></a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- cards -->

      <div class="d-flex flex-md-row flex-column mt-3">
        <div class="flex-fill form-group">
          <label class="text-primary"
            >Let us know something more about you</label
          >
          <ul class="list-group">
            <li
              class="list-group-item text-primary-light list-color"
              *ngFor="
                let card of workInfo.informationCards;
                let cardIndex = index
              "
            >
              <div class="d-flex flex-md-row flex-column">
                <span class="mr-auto">
                  {{ card.cardHeader }}
                </span>
                <div class="mt-md-0 mt-2">
                  <span class="icons text-primary-light">
                    <fa-icon
                      [icon]="faPencilAlt"
                      size="md"
                      (click)="editSelectedCard(cardIndex)"
                    ></fa-icon>
                  </span>
                  <span class="icons text-primary-light">
                    <fa-icon
                      [icon]="faTrashAlt"
                      class="ml-4"
                      size="md"
                      (click)="deleteSelectedCard(cardIndex)"
                    ></fa-icon>
                  </span>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <a (click)="openCardsPopup()" class="text-primary">
                <fa-icon [icon]="faPlusSquare" size="lg"></fa-icon>
                <span class="ml-2">Add information</span></a
              >
            </li>
          </ul>
          <small class="form-text text-muted"
            >This information will be displayed on your work page in form
            cards.</small
          >
        </div>
      </div>

      <!-- job history -->

      <div class="d-flex flex-md-row flex-column mt-3">
        <div class="flex-fill form-group">
          <label
            class="text-primary"
            [ngClass]="{ 'text-danger': jobDetailsMissing }"
            >Job History*</label
          >
          <ul class="list-group">
            <li
              class="list-group-item text-primary-light list-color"
              *ngFor="let job of jobHistory; let selectedJobIndex = index"
            >
              <div class="d-flex flex-md-row flex-column">
                <span>
                  {{ job.startingYear }} -
                  {{ job.onGoing ? "On Going" : job.endingYear }}
                </span>
                <span class="ml-md-4 mt-md-0 mt-2 mr-auto">
                  {{ job.jobTitle }}
                </span>
                <div class="mt-md-0 mt-2">
                  <span class="icons text-primary-light">
                    <fa-icon
                      [icon]="faPencilAlt"
                      size="md"
                      (click)="editSelectedJob(selectedJobIndex)"
                    ></fa-icon>
                  </span>
                  <span class="icons text-primary-light">
                    <fa-icon
                      [icon]="faTrashAlt"
                      class="ml-4"
                      size="md"
                      (click)="deleteSelectedJob(selectedJobIndex)"
                    ></fa-icon>
                  </span>
                </div>
              </div>
            </li>
            <li
              class="list-group-item"
              [ngClass]="{ invalid: jobDetailsMissing }"
            >
              <a (click)="openJobPopup()" class="text-primary">
                <fa-icon [icon]="faPlusSquare" size="lg"></fa-icon>
                <span class="ml-2">Add job</span></a
              >
            </li>
          </ul>
          <small *ngIf="jobDetailsMissing" class="text-danger"
            >Job details are required.</small
          >
          <small *ngIf="!jobDetailsMissing" class="form-text text-muted"
            >Job history will be displayed as shown in the list.</small
          >
        </div>
      </div>

      <ngb-alert
        *ngIf="show"
        type="success"
        [dismissible]="false"
        class="bg-secondary text-white"
        >Edit Successful</ngb-alert
      >

      <div class="d-flex mt-3 mb-5 justify-content-end">
        <button
          type="button"
          class="btn btn-primary-light"
          (click)="saveWorkData()"
          [disabled]="disableButton()"
        >
          {{ editMode ? "Save Changes" : "Generate Template" }}
        </button>
      </div>
    </div>
  </div>
</div>
