<div class="container pt-2 pb-4">
  <div class="shadow bg-white" [ngClass]="{ 'pb-4': !collapsed }">
    <div class="text-primary mt-2" [ngClass]="{ 'mb-4': !collapsed }">
      <span class="card-header-text text-secondary font-weight-bold ml-4"
        >INTRODUCTION</span
      >
      <a
        (click)="collapsed = !collapsed"
        *ngIf="editMode"
        class="ml-auto expand-icon"
      >
        <fa-icon
          [icon]="faChevronDown"
          class="text-secondary ml-2"
          size="lg"
        ></fa-icon
      ></a>
    </div>

    <div class="row pl-4 pr-4" [ngClass]="{ collapse: collapsed }">
      <div class="col">
        <form [formGroup]="introductionForm">
          <div class="form-group mt-2">
            <label
              for="introduction"
              class="text-primary"
              [ngClass]="{ 'text-danger': validateTextInput(introduction) }"
              >Introduction*</label
            >
            <textarea
              formControlName="introduction"
              class="form-control is-invalid text-primary-light"
              [ngClass]="{ 'is-invalid': validateTextInput(introduction) }"
              id="introduction"
              name="introduction"
              rows="4"
              [maxlength]="introductionMaxLength"
              autosize
            ></textarea>
            <div *ngIf="validateTextInput(introduction)" class="text-danger">
              <small>Please provide your intro.</small>
            </div>
            <small
              *ngIf="!validateTextInput(introduction)"
              class="form-text text-muted"
              >Keep it clean and catchy. You can only enter 80
              characters.</small
            >
          </div>

          <div class="form-group mt-3">
            <label
              for="coverLetter"
              class="text-primary"
              [ngClass]="{ 'text-danger': validateTextInput(coverLetter) }"
              >Cover letter*</label
            >
            <quill-editor
              formControlName="coverLetter"
              class="text-primary-light"
              id="coverLetter"
              name="coverLetter"
              [styles]="editorStyle"
              [required]="true"
            >
            </quill-editor>

            <div *ngIf="validateTextInput(coverLetter)" class="text-danger">
              <small>Please provide your cover letter.</small>
            </div>
          </div>

          <ngb-alert
            *ngIf="show"
            type="success"
            [dismissible]="false"
            class="bg-secondary text-white"
            >Edit Successful</ngb-alert
          >

          <div class="d-flex mt-4 justify-content-end">
            <button
              type="button"
              class="btn btn-primary-light"
              (click)="saveChanges()"
              [disabled]="!introductionForm.dirty || introductionForm.invalid"
            >
              {{ editMode ? "Save Changes" : "Next" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
