<nav class="navbar sticky-top navbar-expand-sm bg-primary">
  <div class="navbar-brand mr-auto">
    <svg
      width="1.3em"
      height="1.3em"
      viewBox="0 0 16 16"
      class="bi bi-box"
      fill="#3aafa9"
      style="margin-bottom: 4px"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"
      />
    </svg>

    <span class="navbar-brand mb-0 h1" style="margin-left: 10px; color: white"
      >{{ firstName + " " + lastName | titlecase }}
    </span>
  </div>

  <button
    class="navbar-toggler border-white"
    type="button"
    (click)="toggleCollapsed()"
  >
    <fa-icon [icon]="faBars" class="text-secondary"></fa-icon>
  </button>
  <div
    class="justify-content-end"
    [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
  >
    <div class="navbar-nav">
      <a
        class="nav-link text-white"
        [routerLink]="[{ outlets: { portfolio: ['about'] } }]"
        [routerLinkActive]="['active']"
        (click)="collapsed = true"
        >About Me</a
      >
      <a
        class="nav-link text-white"
        [routerLink]="[{ outlets: { portfolio: ['work'] } }]"
        [routerLinkActive]="['active']"
        (click)="collapsed = true"
        >Work</a
      >
    </div>
  </div>
</nav>
