<app-icon-stack
  *ngIf="technologyStack.length"
  [technologyStack]="technologyStack"
></app-icon-stack>

<div class="d-flex justify-content-center mt-5">
  <div class="d-flex flex-column card-width">
    <!-- <app-experience></app-experience> -->

    <!-- <hr class="bg-secondary ml-5 mr-5 mt-5 mb-5" /> -->
    <div *ngFor="let card of informationCards">
      <app-information-card [card]="card"></app-information-card>

      <hr class="bg-secondary ml-5 mr-5 mt-5 mb-5" />
    </div>

    <app-work-timeline [jobHistory]="jobHistory"></app-work-timeline>
  </div>
</div>
